{% extends "layout.html" %}

{% block content %}
    <h1>Police Shooting Data With Interactive Graphs</h1>
	<br><br>
	
	<p>Gender</p>
	<form>
	  <input type="checkbox" id="Male" name="Male" value="Male"
	  <label for="Male">Male</label><br>
	  <input type="checkbox" id="Female" name="Female" value="Female"
	  <label for="Female">Female</label><br>
	  <input type="checkbox" id="Unknown/Other" name="Unknown/Other" value="Unknown/Other"
	  <label for="Unknown/Other">Unknown/Other</label><br>
	</form>
	<br><br>
	
	<p>Race</p>
	<form>
	  <input type="checkbox" id="Asian" name="Asian" value="Asian"
	  <label for="Asian">Asian</label><br>
	  <input type="checkbox" id="Black" name="Black" value="Black"
	  <label for="Black">Black</label><br>
	  <input type="checkbox" id="Hispanic" name="Hispanic" value="Hispanic"
	  <label for="Hispanic">Hispanic</label><br>
	  <input type="checkbox" id="Native_American" name="Native_American" value="Native_American"
	  <label for="Native_American">Native American</label><br>
	  <input type="checkbox" id="White" name="White" value="White"
	  <label for="White">White</label><br>
	  <input type="checkbox" id="Other" name="Other" value="Other"
	  <label for="Other">Other</label><br>
	  <input type="checkbox" id="Unknown" name="Unknown" value="Unknown"
	  <label for="Unknown">Unknown</label><br>
	</form>

	<p>Weapon</p>
	<input type="checkbox" id="Gun" name="Gun" value="Gun"
	  <label for="Gun">Gun</label><br>
	  <input type="checkbox" id="Knife" name="Knife" value="Knife"
	  <label for="Knife">Knife</label><br>
	  <input type="checkbox" id="Toy_weapon" name="Toy_weapon" value="Toy_weapon"
	  <label for="Toy_weapon">Toy_weapon</label><br>
	  <input type="checkbox" id="Unarmed" name="Unarmed" value="Unarmed"
	  <label for="Unarmed">Unarmed</label><br>
	  <input type="checkbox" id="Other" name="Other" value="Other"
	  <label for="Other">Other</label><br>
{% endblock %}
