<!DOCTYPE html>
 <html>
  <head>
    <title>Example web page</title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="myscript.js"></script>
	<script src="style.css"</script>
  </head>
  <body>
    <h1>Police Shooting Data With Interactive Graphs"</h1>
	<br><br><br>
	
	<p>Race</p>
	<form>
	  <input type="checkbox" id="Asian" name="Asian" value="Asian"
	  <label for="Asian">Asian</label><br>
	  <input type="checkbox" id="Black" name="Black" value="Black"
	  <label for="Black">Black</label><br>
	  <input type="checkbox" id="Hispanic" name="Hispanic" value="Hispanic"
	  <label for="Hispanic">Hispanic</label><br>
	  <input type="checkbox" id="Native_American" name="Native_American" value="Native_American"
	  <label for="Native_American">Native American</label><br>
	  <input type="checkbox" id="White" name="White" value="White"
	  <label for="White">White</label><br>
	  <input type="checkbox" id="Other" name="Other" value="Other"
	  <label for="Other">Other</label><br>
	  <input type="checkbox" id="Unknown" name="Unknown" value="Unknown"
	  <label for="Unknown">Unknown</label><br>
	</form>
  </body>
</html>
