{% extends "layout.html" %}

{% block content %}
<h1>Info</h1>
<p>The other page has an interactive graph that can be used to study police shooting's data as collected by the washing post.<p>
<p>Check the boxes to include the demographics that you want into the data set.<p><br>

<pre>
This data is a compilation of every shooting in america, and it was collected
by the Washington post. It is only including civilians that were shot and killed
by police officers, but it does not count people who died in police custody. The
data goes from right at the beginning of 2015 to the middle of a month in 2019,
which is why the last month tends to look like it has a sharp drop off in shootings.
There is a point for every month.
</pre>
{% endblock %}
