{% extends "layout.html" %}

{% block content %}
 <h1>Police Shooting Data With Interactive Graphs</h1>
	<br><br>
	
	<p><b>Gender</b></p>
	<form action='/response' method="post">
	  <input type="checkbox" id="Female" name="gender1" value="Female"
	  <label for="Female">Female</label><br>
	  <input type="checkbox" id="Male" name="gender2" value="Male"
	  <label for="Male">Male</label><br>
	  <input type="checkbox" id="Unknown/Other" name="gender3" value="Unknown/Other"
	  <label for="Unknown/Other">Unknown/Other</label><br>
	
	<br><br>
	
	<p><b>Race</b></p>

	  <input type="checkbox" id="Asian" name="race1" value="Asian"
	  <label for="Asian">Asian</label><br>
	  <input type="checkbox" id="Black" name="race2" value="Black"
	  <label for="Black">Black</label><br>
	  <input type="checkbox" id="Hispanic" name="race3" value="Hispanic"
	  <label for="Hispanic">Hispanic</label><br>
	  <input type="checkbox" id="Native_American" name="race4" value="Native_American"
	  <label for="Native_American">Native American</label><br>
	  <input type="checkbox" id="White" name="race5" value="White"
	  <label for="White">White</label><br>
	  <input type="checkbox" id="Other" name="race6" value="Other"
	  <label for="Other">Other</label><br>
	  <input type="checkbox" id="Unknown" name="race7" value="Unknown"
	  <label for="Unknown">Unknown</label><br>
	
         <br><br>

	<p><b>Weapon</b></p>
	<input type="checkbox" id="Gun" name="weapon1" value="Gun"
	  <label for="Gun">Gun</label><br>
	  <input type="checkbox" id="Knife" name="weapon2" value="Knife"
	  <label for="Knife">Knife</label><br>
	  <input type="checkbox" id="Toy_weapon" name="weapon3" value="Toy_weapon"
	  <label for="Toy_weapon">Toy weapon</label><br>
	  <input type="checkbox" id="Unarmed" name="weapon4" value="Unarmed"
	  <label for="Unarmed">Unarmed</label><br>
	  <input type="checkbox" id="Other" name="weapon5" value="Other"
	  <label for="Other">Other</label><br>
          

          <input type="submit" class="btn btn-info" value="Graph">
      </form>
      <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Police Shootings"
	},
	axisY:{
          title:"# of shootings"
        }, 
	axisX:{
          title:"Time"
        },
	data: [{        
		type: "line",
      	indexLabelFontSize: 16,
		dataPoints: [
			{{ points }}
		]
	}]
});
chart.render();

}
</script>
    <div id="chartContainer" style="height: 500px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}
